/* css/base.css */
body {
  background-color: #73b2e5 !important;
  color: #000000;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  flex-direction: column;
  bottom: 0;
}

footer{
position: fixed;
bottom:0
}