body {
  background-color: #73b2e5 !important;
  color: #000000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  bottom: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
}
