.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
  font-size: 35px;
  cursor: pointer;
}

.rating span {
  color: #ccc;
  transition: color 0.2s;
}

.rating span.hover,
.rating span.selected {
  color: gold;
}
