html,
body {
  height: 100%;
  /* occupe toute la hauteur */
}

body {
  display: flex;
  flex-direction: column;
  /* empile en colonne */
  min-height: 100vh;
  /* hauteur minimum = fenêtre */
}

main {
  flex: 1;
  /* prend tout l’espace dispo */
}

footer {
  position: fixed;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
